<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>contact</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>連絡先を追加</h1>
  <form action="contacts" method="post">
    <input type="text" name="name" id="" placeholder="テキスト入力">
    <input type="submit" value="保存">
  </form>
  <footer>
    <div><a href="/">top</a></div>
    <div><a href="about.html">about</a></div>
  </footer>

</body>
</html>